* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
}

.nav-headings h1,
.nav-headings h2 {
    font-size: 100%;
}

.nav-headings {
    display: flex;
    flex-direction: column;
    min-width: 60%;

}

/* navigation system */
nav {
    top: 0;
    position: fixed;
    z-index: 1500;
    background-color: #FFFDC9;
    max-height: 25%;
}

.navbar {
    font-size: 70%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
}

.nav-spy-wrapper {
    width: 40%;
    max-height: 70%;
    display: flex;
    justify-content: space-between;
}


a {
    text-decoration: none;
}

#profile-img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

#projects,
#principles,
#about-me,
#hobbies,
#contact {
    display: block;
    position: absolute;
    top: -350px;
    visibility: hidden;
}


/* sections */
.container {
    position: relative;
    height: 50vh;
}

.projects-section {
    margin-top: 20%;
    background-color: aqua;
}

.principles-section {
    background-color: rgb(42, 53, 46);
    height: 2000px;
}

.about-me-section {
    background-color: rgb(119, 0, 255);
}

.hobbies-section {
    background-color: rgb(255, 0, 0);
}

.contact-section {
    background-color: rgb(81, 219, 62);
}