* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background-color: #011415;
}




/* sections */
.container {
    position: relative;
    height: 90vh;
    color: #E06262;
}

.projects-section {
    margin-top: 20%;
}

.principles-section {}

.about-me-section {}

.hobbies-section {}

.contact-section {}