.contact-section {
    height: 100vh;
    padding-top: 30vh;
    color: #6D9A77;
}

.contact-section-inner-container {
    position: relative;
}

.magenta-bar {
    right: -20px;
    top: -30px;
    width: 70%;
    height: 100px;
    background-color: #FF2156;
}

/* #6D9A77; */

.contact-section .btn-primary {
    position: relative;
    margin-top: 50px;
    background-color: #011415;
    color: white;
    border-color: #6D9A77;
}

.contact-section .btn-primary:focus {
    background-color: white;
    color: rgb(255, 255, 255);
    border-color: white
}

.form-group label {
    z-index: 1500;
}

.form-group {
    position: relative;
    z-index: 1500;
}

.form-control {
    border: 0px;
    border-radius: 5px;
    background-color: transparent !important;
    color: white
}

.form-control:focus {
    border: 0px;
    box-shadow: none;
    background-color: transparent !important;
    color: white
}

input {
    background-color: transparent !important;
}

input:not(:-webkit-autofill),
input:not(:-webkit-autofill):hover,
input:not(:-webkit-autofill):focus {
    background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:after {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    box-shadow: none !important;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
    background-color: transparent !important;
}

input:-moz-autofill {
    color: white !important;
    background-color: transparent !important;
    transition: background-color 5000s ease-in-out 0s;
}

.contact-form {
    position: relative;
}

.contact-form-svg {
    position: absolute;
    top: 0;
    left: -1px;
    width: 100%;
    height: 100%;
    overflow: visible;
    /* background-color: #6D9A77; */
}

.contact-details {
    margin-top: 50px;
}