.intro-section {
    margin-top: 400px;
    color: #478B9A;
    padding-bottom: 30vh;
    overflow-x: hidden
}

.in-page-circle-wrapper {
    height: 150px;
    width: 150px;
}

.download-PDF-svg-tag {
    text-decoration: none;
    border-radius: 50%;
}

.profficient-wrapper {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content:first baseline;
    flex-direction: row;
    flex-wrap: wrap;
}

.tech-row-card{
    border: solid 2px white;
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px;
}

.tech {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
}

.tech img {
    width: 40%;
}

.tech p {
    font-weight: 500;
}

.intro-section-part {
    margin-top: 50px;
}

@media only screen and (max-width: 800px) {
    .intro-section {
        margin-top: 130px;
    }

    .intro-section p {
        font-size: 90%;
    }

    .in-page-profile-wrapper {
        height: 100px;
        width: 100px;
    }

    .download-PDF {
        width: 90px;
        border-radius: 50%;
    }

    .in-page-circle-wrapper {
        width: 120px;
    }


}

@media only screen and (max-width: 600px) {
    .in-page-download-PDF {
        width: 100px;
    }

    .intro-section p {
        font-size: 0.8em;
    }

    .tech {
        width: 30%;
    }

}