.intro-section {
    margin-top: 400px;
    color: #478B9A;
}

.in-page-circle-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    width: 150px;
    border-radius: 50%;
}

.in-page-circle-wrapper svg {
    overflow: visible;
}

.download-PDF-svg-tag {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    z-index: 500;
    width: 200px;
    border-radius: 50%;
}

.mobile-profile-immage-wrapper {
    display: none;
}

.proficient {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 100px 0px 30px 0px;
}

@media only screen and (max-width: 800px) {
    .intro-section {
        margin-top: 130px;
    }

    .in-page-profile-wrapper {
        height: 100px;
        width: 100px;
    }

    .download-PDF {
        width: 90px;
        border-radius: 50%;
    }

    .in-page-circle-wrapper svg {
        max-width: 100px;
    }

    .in-page-circle-wrapper svg {
        width: 150px;
    }


}

@media only screen and (max-width: 500px) {
    .in-page-download-PDF {
        width: 100px;
    }


    .in-page-profile-wrapper svg {
        position: absolute;
        width: 120px;
    }
}