.nav-heading h1 {
    font-size: 400%;
}

nav a {
    text-decoration: none;
    color: inherit;
}



.nav-heading {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

nav {
    top: 0;
    position: fixed;
    z-index: 1500;
    width: 100%;
    max-height: 10%;
    background: rgb(1, 20, 21);
    background: linear-gradient(180deg,
            rgba(1, 20, 21, 1) 0%,
            rgba(1, 20, 21, 1) 50%,
            rgba(1, 20, 21, 0.4234068627450981) 81%,
            rgba(1, 20, 21, 0) 100%);
    color: inherit;
}

.row .navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 100px;
}

.nav-spy-wrapper {
    display: flex;
    justify-content: right;
    font-size: large;
    padding-right: 10%;
    max-height: 100px;
    width: 20%;
}

.nav-text-link {
    display: block;
}

.nav-icon-link {
    display: none;
}

.mobile-nav-selector {
    display: none;
}

.nav-spy-wrapper li {
    line-height: 50px;
    display: block;
    position: relative;
    right: 30;
}

.intro-link-li a {
    position: absolute;
    left: -100%;
}

.projects-link-li a {
    position: relative;
    left: -29%;
}

.principles-link-li a {
    position: relative;
    top: 7px;
    left: 10%;
}

.about-me-link-li a {
    position: relative;
    top: 15px;
    left: 29%;
}

.hobbies-link-li a {
    position: relative;
    top: 15px;
    left: 10%;
}

.contact-link-li a {
    position: relative;
    top: 15px;
    left: -30%;
}

.image-and-svg-profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 70px;
    width: 150px;
    height: 150px;
}

#profile-immage {
    position: absolute;
    top: 0;
    left: 0;
    border: solid 7px;
    border-color: inherit;
    width: 100%;
    border-radius: 50%;
}

.profile-svg {
    height: 125%;
    width: 53px;
    border-radius: 50%;
}


.anchor-scroll-tag {
    display: block;
    position: absolute;
    top: -350px;
    visibility: hidden;
}



@media only screen and (max-width: 800px) {

    .intro-link-li a,
    .work-link-li a,
    .principles-link-li a,
    .about-me-link-li a,
    .hobbies-link-li a,
    .contact-link-li a {
        top: 0;
        left: 0;
        position: relative;
    }

    .intro-link-li i {
        font-size: smaller;
    }

    .nav-spy-wrapper .image-and-svg-profile {
        display: none;
    }

    .profile-svg {
        display: none;
    }

    #profile-immage {
        display: none;
    }

    .profile-immage-selector {
        display: none;
    }

    .nav {
        padding: 0;
    }

    .navbar {
        padding: 0;
    }

    .nav-heading {
        min-width: 25%;
        padding: 0.3em;
        height: 100%;
        line-height: 100%;
    }

    .nav-heading h1 {
        font-size: 2em;
    }

    .nav-heading a {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-top: 0.3em;
    }

    .nav-spy-wrapper {
        min-width: 75%;
        padding: 0;
        font-size: 12px;
        left: 0;
    }

    .nav-spy-wrapper li {
        position: relative;
        display: inline-flex;
        align-items: center;
        margin: 0 0.2em;
    }

    .nav-spy-wrapper div {
        position: relative;
    }

    .mobile-nav-selector {
        display: block;
        position: absolute;
        left: 0;
        top: -7px;
        width: 15px;
        height: 60px;
        overflow: visible;
    }

    .nav-spy-wrapper div {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

}

@media only screen and (max-width: 550px) {
    .nav-spy-wrapper {
        min-width: 75%;
        padding: 0;
    }

    .nav-text-link {
        display: none;
    }

    .nav-icon-link {
        display: block;
    }

    .nav-spy-wrapper {
        position: relative;
        top: 6px;
        font-size: 12px;
    }

    .nav-heading h1 {
        position: relative;
        top: 0.2em;
        left: 0.2em;
        font-size: 1.65em;
    }

    .nav-heading a {
        padding-top: 0.2em;
    }
}

@media only screen and (max-width: 400px) {
    .nav-spy-wrapper {
        min-width: 75%;
        padding: 0;
    }

    .nav-heading h1 {
        font-size: 1.3em;
        top: 0.35em;
        padding: 0.4em;
    }

    .nav-heading a {

        padding-top: 0.2em;
    }
}