.work-section {
    color: #BDACD3;
    position: relative;
    overflow: hidden;
    height: 400vh;
}

.work-section a {
    text-decoration: none;
    color: inherit;
}

.work-section p {
    font-size: 130%;
    line-height: 120%;
}

.work-section img {
    width: 50px;
}

.work-svg {
    display: none;
    width: 90%;
    overflow: visible;
    position: relative;
}

.first-svg {
    display: block;
}


/* ########### github svg, heading and tab-buttons **********/
#github-icon-svg {
    height: 100%;
    overflow: visible;
}

.github-svg-wrapper {
    height: 150px;
    display: flex;
    justify-content: left;

}

.github-icon-tag {
    display: flex;
    justify-content: center;
    justify-content: left;
    width: 100%;
    max-height: 100%;
}

.work-heading-container {
    display: flex;
    align-items: left;
}

.work-section .btn {
    color: inherit;
    font-family: 'Lato';
    background-color: rgba(123, 1, 1, 0);
    border-color: inherit;
    font-size: 120%;
}

.work-buttons-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.work-buttons-wrapper .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#red-tape-p-lottie {
    width: 70%;
}

/* ########### scroll interractive Slider ##########*/
.scroll-dragger-row {
    min-height: 50px;
    max-height: 50px;

    display: flex;
    justify-content: center;
}

.bar {
    position: relative;
    top: 20px;
    height: 10px;
    width: 100%;
    background-color: #BDACD3;
    border-radius: 5px;
}

#handler {
    width: 30px;
    height: 30px;
    position: relative;
    background: red;
    border-radius: 50%;
    left: 0;
    top: -10px;
    z-index: 1;
}

/* *************** Tabs Info ************** */
.info-wrapper {
    position: relative;
}

.projects-info,
.studies-info,
.algos-info {
    display: none;
    position: relative;
    top: 0;
    align-items: left;
    flex-direction: column;
    justify-content: center;
}

.work-svgs-col {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
}

.github-icon-tag:hover {
    scale: 1.1
}

@media only screen and (max-width: 800px) {
    .work-section {
        margin-top: 200px;
    }

    .work-section img {
        width: 30px;
    }

    .work-section h1,
    .work-section h2,
    .work-section h3 {
        font-size: 1.5em;
    }

    .work-section p {
        font-size: 0.9em;
    }

    .work-section .btn-primary {
        font-size: 0.9em;
    }

    #red-tape-p-lottie {
        width: 70%;
    }

    .info-buttons-wrapper {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (max-width: 600px) {

    .projects-info,
    .studies-info,
    .algos-info {
        left: 0;
    }

    .work-svg {
        position: relative;
        top: 0;
        width: 50%;
    }

    /* .work-svgs-col {
        height: 200px;
    } */

    .work-section img {
        width: 20px;
    }

    .github-svg-wrapper {
        height: 80px;
        width: 80px;
    }
}