.work-section {
    color: #BDACD3;
    position: relative;
    overflow: hidden;
}

.work-section a {
    text-decoration: none;
    color: inherit;
}

.work-svg {
    display: none;
}

.first-svg {
    display: block;
}


.pin-tab-inner-breaking-point {
    position: absolute;
}

/* ################  SCROLL ANCHORS ############### */
.pin-b-1 {
    top: 15vh;
}

.pin-b-2 {
    top: 115vh;
}

.pin-b-3 {
    top: 215vh;
}

.pin-b-4 {
    top: 315vh;
}

.pin-b-5 {
    top: 415vh;
}


/* ################ Section Height based on number of elements ############# */
.tab-num-elements-3 {
    height: 300vh
}

.tab-num-elements-5 {
    height: 500vh
}


/* ########### github svg, heading and tab-buttons **********/
#github-icon-svg {
    height: 100%;
    overflow: visible;
}

.github-svg-wrapper {
    height: 150px;
    display: flex;
    justify-content: left;

}

.github-icon-tag {
    display: flex;
    justify-content: center;

    justify-content: left;

    width: 100%;
    max-height: 100%;
}

.work-heading-container {
    display: flex;
    align-items: left;
}

.work-section .btn {
    color: inherit;
    font-family: 'Lato';
    background-color: rgba(123, 1, 1, 0);
    border-color: inherit;
    font-size: 120%;
}

.work-buttons-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.work-buttons-wrapper .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ########### scroll interractive Slider ##########*/
.scroll-dragger-row {
    height: 50px;
    display: flex;
    justify-content: center;
}

.bar {
    position: relative;
    height: 40%;
    width: 100%;
    padding: 20px 0;
}

#handler {
    width: 30px;
    height: 30px;
    position: absolute;
    background: red;
    border-radius: 50%;
    left: 0;
    top: 0;
    z-index: 1;
}

/* *************** Tabs Info ************** */
.info-wrapper {
    min-height: 20vh;
}

.work-svg {
    width: 100%;
}

.work-info-and-svgs-row {
    max-height: 30vh;
}

.projects-info,
.studies-info,
.algos-info {
    position: absolute;
    left: 50px;
}

.info-wrapper {
    position: relative;
}

.work-svgs-col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.work-svg {
    height: 100%;
    overflow: visible;
}


@media only screen and (max-width: 800px) {
    .work-section {
        margin-top: 200px;
    }

    .work-svgs-col {
        height: 150px;
    }

    .github-svg-wrapper {
        height: 100px;
    }
}

@media only screen and (max-width: 600px) {
    .work-svgs-col {
        height: 200px;
    }

    .github-svg-wrapper {
        height: 80px;
        width: 80px;
    }
}